.card_container {
    overflow: hidden;
    height: 100%;
  }
  
.scroll_container {
  overflow-x: auto;
  height: 100%;
}

.card_row {
  display: flex;
  flex-wrap: nowrap;
}

.card_row > .card {
  flex: 0 0 auto;
  margin-right: 15px;
}