################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Louder/v17
/.vs/Louder/DesignTimeBuild
/.vs/Louder/FileContentIndex
/.vs/ProjectEvaluation
/.vs
/Backend/obj
/Backend/bin
/Backend/Dockerfile
/Backend/appsettings.json
/Backend/appsettings.Development.json
/Backend/Properties/launchSettings.json
