################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backend/obj
/Backend/.vs/Backend/FileContentIndex
/Backend/appsettings.Development.json
/Backend/Backend.csproj.user
