.information {
    background-color: #1A1919;
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
}

.header_text {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: white;
}

.text {
    font-size: 1.15rem;
    color: white;
}

.link_text:hover {
    color: rgb(50, 53, 231);
}

@media (max-width: 575px) {
    .information {
        padding: 2rem 0.5rem;
    }

    .header_text {
        font-size: 1.5rem;
    }

    .text {
        font-size: 0.80rem;
    }
}