.color-primary
{
    color: #d8d8d8;
}

.color-secondary
{
    color: #DD4433;    
}

p, a
{
    color: #1A1919;
}

.background-color-primary
{
    background-color: #d8d8d8;
}

.background-color-secondary
{
    background-color: #DD4433;    
}

.no-ws {
    min-height: calc(100vh - 112px);
}